@import url(./root.css);
@import url(./reset.css);

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

/* main container */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(20.4375rem, 70vw, 24rem);
  background-color: var(--color-white);
  border-radius: 1.25rem;
  padding: var(--space-xlg);
  gap: var(--space-xlg);
  box-shadow: var(--space-md) var(--space-md) #000000;
  border: 1px solid var(--color-gray-950);
}
/* image */
.card__image {
  border-radius: var(--space-lg);
}
/* section text */
.card__sec {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

/* label */
.card__sec-label,
.card__sec-text,
.card__sec-date {
  font-size: clamp(var(--txt-sm), 2.5vw, var(--txt-md));
}
.card__sec-label {
  align-self: flex-start;
  padding: var(--space-sm) var(--space-lg);
  background-color: var(--color-yellow);
  border-radius: var(--space-sm);
  color: var(--color-gray-950);
  font-weight: 900;
}
.card__sec-date {
  color: var(--color-gray-500);
  font-weight: 600;
}
.card__sec-title {
  font-size: clamp(1.25rem, 3vw, var(--txt-lg));
  font-weight: 800;
  color: var(--color-gray-950);
  cursor: pointer;
}
.card__sec-title:hover{
    color:var(--color-yellow)
}
.card__sec-text {
  font-weight: 400;
  color: var(--color-gray-500);
  line-height: var(--txt-line-hieght);
}
.card__author {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-lg);
}
.card__author-image {
  width: 2rem;
}
.card__author-name {
  font-size: clamp(var(--txt-sm), 2.5vw, var(--txt-md));
  font-weight: 900;
}
