@import url(assets/styles/root.css);

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  background-color: var(--color-yellow);
  font-family: "Figtree", serif;
}
img {
  display: block;
  max-width: 100%;
}
