:root {
  /* Color */
  --color-yellow: #f4d04e;
  --color-gray-950: #111111;
  --color-gray-500: #6b6b6b;
  --color-white: #ffffff;

  /* typography */
  --txt-lg: 1.5rem;
  --txt-md: 1rem;
  --txt-sm: 0.875rem;

  /* line height */
  --txt-line-hieght: 150%;

  /* Spacing */
  --space-xlg: 1.5rem;
  --space-lg: 0.75rem;
  --space-md: 0.5rem ;
  --space-sm: 0.25rem ;
}
